# IDE
.idea/
.vscode/
.cursor/
*.iml

# OS files
.DS_Store

# Build files / artifacts
.gradle/
build/
**/bin/
frontend/.next/
frontend/node_modules/

# Environment variables
.env
.env.*

# Logs
*.log
logs/

# Database dumps
backup.sql
*.sql

# Debug / test artifacts
*.txt
*.http

# Misc
application.properties
