# IDE
.idea/
.vscode/
*.iml

# OS files
.DS_Store

# Build files
.gradle/
build/
frontend/.next/
frontend/node_modules/

# Environment variables
.env
.env.*

# Logs
*.log
logs/

# Database dumps
backup.sql

# Misc
application.properties